body {
	font-family: 'Open Sans', arial, sans-serif;
	font-size: 88%;
	line-height: 1;
	color: #373737;
	background: #fff;
	margin: 0;
}


h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	letter-spacing: 1px;
	color: #314a5b;
	text-transform: uppercase;
}

h1 {
	font-size: 300%;
	line-height: 1.2;
	margin-bottom: 0;
}

h2 {
	font-size: 250%;
	line-height: 1.2;
	margin-bottom: 0;
}

h3 {
	font-size: 190%;
	line-height: 1.2;
	margin-bottom: 0;
}

img {
	display: block;
	width: 100%;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	outline: none;
}

p {
	color: #9aa0ab;
	line-height: 1.2;

}

.container {
	margin: 0 auto;
	width: 100%;
	max-width: 960px;
	padding: 0 15px;
}

.top-menu {
	position: relative;
    height: 300px;
    display: inline-block;
    width: 100%;
}

header {
	width: 100%;
	height:1040px;
	background: white url("./images/header-background.jpg") 50% 50% no-repeat;
	/*box-shadow: 3px 3px 1px rgba(0,0,0,.05);*/
	padding: 15px 0 0;
	margin-bottom: 40px;
	position: relative;
}

.logo {
	display: block; 
	float: left;
	background-color: #fa5c65;
	border-radius: 0 0 5px 5px;
	padding: 35px 15px 5px;
    margin-top: -15px; 
}

@import url('https://fonts.googleapis.com/css?family=Domine:700&display=swap');

.logo-name {
	font-family: 'Domine', serif;
	font-size: 130%;
	display: inline-block;
	color: white;
	
}

.logo-name span {
	color: #314a5b;
}

.header-right {
	float: right;
    display: inline-flex;
}

nav li, .top-social-icons li {
	display: inline-block;
	margin-right: 30px; 
	text-transform: uppercase;
}

nav li a {
	color: #314a5b;
}

nav li a:hover {
	text-decoration: underline;
}

nav li, .top-social-icons li {
	display: inline-block;
	margin-right: 30px; 
	text-transform: uppercase;
}

nav li a {
	color: #314a5b;
}

nav li a:hover {
	text-decoration: underline;
}

.nav-toggle {
	display: none;
	position: relative;
	float: right;
	width: 40px;
	height: 40px;
	margin-left: 20px;
	background: #EF5A42;
	cursor: pointer;
}

.nav-toggle span {
	display: block;
	position: absolute;
	top: 19px;
	left: 8px;
	right: 8px;
	height: 2px;
	background: white;
}

.nav-toggle span:before, .nav-toggle span:after {
	content: "";
	position: absolute;
	display: block;
	left: 0;
	width: 100%;
	height: 2px;
	background: white;
}

.nav-toggle span:before {
	top: -10px;
}

.nav-toggle span:after {
	bottom: -10px;
}

#menu.active {
	max-height: 123px;
}

.top-tagline {
	display: block;

	}
.top-tagline p {
	font-size: 130%;
	color: #314a5b;
}

span.point {
	color: #fa5c65
}

.top-social-icons img, .footer-social-icons img{
	width: 20px;
	height: 20px;
}

.top-button {
	padding: 20px 30px;
    border-radius: 10px;
    background-color: #fa5c65;
    display: inline-block;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 20px 0;
}

.top-button:hover {
	background-color: white;
	color: #fa5c65;
}

main {
	margin: 0 0 30px;
    padding: 5px 0;
    position: relative;
    display: block;
}

.block-section-content {
	padding-right: 30px;
    margin: 5px 50px 5px 0
}

.block-section-tagline {
	color: #314a5b;
    font-size: 100%;
    margin: 5px 0 20px;
}

.block-section-link, .employees-link {
	text-transform: uppercase;
    color: #fa5c65;
    margin-top: 30px;
    display: block;
}

.block-section-link:after, .employees-link:after {
	content: " \2192 "
}

.block-section-link:hover, .employees-link:hover {
	text-decoration: underline;
}

.employees-link {
	display: block;
    text-align: right;
    padding-right: 20px;
}

.block-section-image {
	float: left;
}

section.block-section {
	display: inline-block;
	width: 100%;
}

.block-section-wrapper {
    display: inline-block;
    width: 100%;
}

.block-section-employees {
	margin-right: 40px;
}

.block-section-employees img {
	width: 125px;
	height: 125px;
	margin-right: 10px;
	float: left;
}

.empolyee-position {
	color: #fa5c65;
    font-weight: 600;
}

footer.footer {
	position: relative;
    display: block;
}

.footer-wrapper {
	border-top: 1px solid #e6eaed;
    padding-top: 20px;
}

.copywrite, .footer-social-icons {
	display: inline-block;
    width: 100%;
}

.copywrite {
	text-align: right;
}

.footer-social-icons li {
	display: inline-block;
	margin-right: 20px;
}

.col-sm-12, .col-lg-4, .col-lg-6 {
	position: relative;
	width: 100%;
	min-height: 1px;

}

@media (min-width: 980px) {
	
	.col-lg-4 {
  	 	float: left;
   	 	width: 33.33333%;
	}

	.col-lg-6 {
		float: left;
		width: 50%;
	}
}

@media (max-width: 980px) {
	.nav-toggle {
		display: block;
	}

	header {
		padding: 10px 0;
		height:100%;
	}

	.top-menu {
		height:100%;
	}

	.block-section-content {
    	padding-right: 0; 
    	margin: 0;
	}

    .block-section-image {
    	display: none;
    }

    .block-section-employees {
    	padding: 20px 40px 0 0;
    }

	#menu {
		max-height: 0;
		background: white;
		float: none;
		position: absolute;
		overflow: hidden;
		top: 63px;
		right: 0;
		left: 0;
		margin: 0;
		padding: 0;
		z-index: 3;
	}

	#menu li {
		display: block;
		text-align: center;
		border-bottom: 1px solid #EBEBE3;
		margin-right: 0;
	}

	.col-lg-4, .col-lg-6, .block-section-title {
   	 	width: 100%;
   	 	padding-right: 15px;
		padding-left: 15px;
	}

}

@media (max-width: 480px) {

	

}
/*.top-social-icons li {
	display: inline-block;
}*/